{{ "<!-- callforpapers -->" | safeHTML }}
<section id="callforpapers" {{ if .Site.Params.callforpapers.bg }}
class="bg-light-gray"
{{ end }}>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{ with .Site.Params.callforpapers.title }}{{ . | markdownify }}{{ end }}</h2>
      </div>
    </div>
    <div>
        <h3>Types of Submissions</h3>
        <ul>
          <li>Talks</li><p>Presentations will be either 30 or 45 minutes in length, including a couple of minutes for questions at the end.</p>
          <li>Posters</li><p>Posters will be printed posters and displayed in common area.</p>
          <li>Lightning Talks</li><p>Lightning talks will be 5 minutes in length. We will need to have these uploaded ahead of time, and automatically run from one laptop.</p>
        </ul>

        <h3>Submission Guidelines</h3>
        <p>We strongly encourage topics from a variety of paradigms, disciplines and backgrounds, so there's really no hard requirement except being R-related. There is a lot of room for creativity and we look forward to hearing different voices from R community. <br> The submission process requires that you create an account on Sessionize prior to submitting your application. The submission requires:
<ul>
  <li>Title</li>
  <li>Abstract (in plain text, 1200 characters max)</li>
  <li>Length - If you are submitting a talk, please let us know if it’s a 30min or 45min talk. If either is fine, let us know!</li>
  <li>Keywords - tags that you think are relevant to your talk, eg data visualization, machine learning, best practices etc</li>
</ul>
</p>

        <h3>Timeline</h3>
        <p>The deadline for submissions is midnight PST Feb 10, 2019. The Program Committee will review the submissions and notify acceptance before Mar 1, 2019.</p>
        <h3>To Submit</h3>
        <p>We are accepting submissions through <a href="https://sessionize.com{{ .Site.Params.callforpapers.CfSpage }}">sessionize</a>. </p>
<div>
<p>
    Applications are available for both speaking and poster sessions {{ .Site.Params.callforpapers.dates }}. 
  </p>

</div>

</div>
</section>
