{{ "<!-- Keynote Grid Section -->" | safeHTML }}
<!--
<section id="keynote" {{ if .Site.Params.keynote.bg }} class="bg-light-gray" {{ end }}>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{ with .Site.Params.keynote.title }}{{ . | markdownify }}{{ end }}</h2>
        <h3 class="section-subheading text-muted">
          {{ with .Site.Params.keynote.subtitle }}{{ . | markdownify }}{{ end }}</h3>
      </div>
    </div>
    <div class="Talks">
      {{ range .Site.Data.projects}}
      {{ if eq .talk true }}
      <a href="#keynoteModal{{ .modalID }}" class="Talk" data-toggle="modal">
        <img src="img/keynote/{{ .preview }}" class="Talk-image" alt="">
        <div class="Talk-title">
          <h4>{{ .title | markdownify }}</h4>
          <p class="text-muted">{{ .client | markdownify }}</p>
        </div>
      </a>
      {{ end }}
      {{ end }}
    </div>
  </div>
</section>
-->
<section id="keynote"  class="bg-light-gray" >
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Keynote Speakers</h2>
        <h3 class="section-subheading text-muted">
          </h3>
      </div>
    </div>
    <div class="Talks">

      <a href="http://web.ntnu.edu.tw/~tsungwu/" class="Talk" data-toggle="modal">
        <div class="Talk-title">
          <h4>何宗武</h4>
          <p class="text-muted">國立台灣師範大學全球經營與策略研究所</p>
        </div>
      </a>
      <a href="https://yihui.org" class="Talk" data-toggle="modal">
        <div class="Talk-title">
          <h4>謝益輝</h4>
          <p class="text-muted">RStudio, PBC</p>
        </div>
      </a>
      <a href="http://twitter.com/jpmarindiaz" class="Talk" data-toggle="modal">
        <div class="Talk-title">
          <h4>Juan Pablo Marín Díaz.</h4>
          <p class="text-muted">Datasketch</p>
        </div>
      </a>

    </div>
  </div>
</section>