{{ "<!-- Portfolio Grid Section -->" | safeHTML }}
<section id="portfolio" {{ if .Site.Params.portfolio.bg }} class="bg-light-gray" {{ end }}>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{ with .Site.Params.portfolio.title }}{{ . | markdownify }}{{ end }}</h2>
        <h3 class="section-subheading text-muted">
          {{ with .Site.Params.portfolio.subtitle }}{{ . | markdownify }}{{ end }}</h3>
      </div>
    </div>
    <div class="Talks">
      {{ range .Site.Data.projects}}
      {{ if eq .talk true }}
      <a href="#portfolioModal{{ .modalID }}" class="Talk" data-toggle="modal">
        <img src="img/portfolio/{{ .preview }}" class="Talk-image" alt="">
        <div class="Talk-title">
          <h4>{{ .title | markdownify }}</h4>
          <p class="text-muted">{{ .client | markdownify }}</p>
        </div>
      </a>
      {{ end }}
      {{ end }}
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Schedule</h2>
        <!-- <h4>All talk materials are available on
          <a href="https://github.com/satRdays/taiwan2020">Github</a>. -->
        </h4>
        <table class="table table-bordered">
          <thead>
            <!-- <tr>
              <th scope="col" align="center"> <b>Time<b> </th>
              <th scope="col" align="center"> <b>驚聲國際會議廳<b> </th>
              <th scope="col" align="center"> <b>Time<b> </th>
              <th scope="col" align="center"> <b>T310<b> </th>
            </tr> -->
            <tr>
              <th scope="row" class="text-center"> <b> Time <b> </th>
              <td>
                <b>驚聲國際會議廳<b>
              </td>
              <td colspan="2">
                <b>T310<b>
              </td>
            </tr>

          </thead>

          <tbody>
            <tr>
              <th scope="row" class="text-center"> <b>09:00 - 09:20<b> </th>
              <td colspan="3">
                <b> Check-in </b>
              </td>
            </tr>

            <tr>
              <th scope="row" class="text-center"> <b>09:20 - 09:30</b> </th>
              <td>
                <b> Welcome </b>
                <br>
                <i> SatRday Taiwan Organizers</i>
              </td>
              <td colspan="2"></td>
            </tr>

            <tr>
              <th scope="row" class="text-center"> <b>09:30 - 10:30</b> </th>
              <td>
                <b>Keynote: 遠端連線</b>
                <br>
                Yihui Xie / RStudio
              </td>
              <td colspan="2"></td>
            </tr>

            <tr>
              <th scope="row" class="text-center"> <b>10:30 - 11:30<b> </th>
              <td>
                <b>Keynote: 套件GVARX (Global Vector Autoregression) 的架構和預測用途</b>
                <br>
                何宗武 / 臺師大全球經營與策略研究所教授
              </td>
              <td colspan="2"></td>
            </tr>

            <tr>
              <th scope="row" class="text-center"> <b> 11:30 - 11:40<b> </th>
              <td colspan="3">
                <b> Break Time </b>
              </td>
            </tr>

            <tr>
              <th scope="row" class="text-center"> <b>11:40 - 12:30<b> </th>
              <td>
                <b>Paper, Server, and Service with R</b>
                <br>
                王泰期 / 國家高速網路與計算中心 資料科技組 助理研究員
              </td>
              <td colspan="2">
                <b>R：從使用者邁向開發者簡介</b>
                <br>
                Steven Yeo / PTTmineR 套件作者 / 資料視覺化愛好者
              </td>
            </tr>

            <tr>
              <th scope="row" class="text-center"> <b>12:30 - 13:30<b> </th>
              <td colspan="3">
                <b> Lunch Time </b>
              </td>
            </tr>

            <tr>
              <th scope="row" class="text-center"> <b>13:30 - 14:20<b> </th>
              <td>
                <b>用 R 做大數據運算 -- 以中山大學的商業大數據平台為例</b>
                <br>
                卓雍然 / 國立中山大學企管、資管系 助理教授
              </td>
              <th rowspan="2"> <br> <br> 13:30 - 15:10</th>
              <td rowspan="2">
                <br>
                <b> Workshop </b>
                <br>
                <b> R 於人工智慧的實務應用 </b>
                <br>
                吳漢銘 / 國立臺北大學統計系教授
              </td>
            </tr>

            <tr>
              <th scope="row" class="text-center"> 14:20 - 15:10</th>
              <td>
                <b> Tidy Network Analysis with tidygraph and ggraph: Taiwan Legislative Data </b>
                <br>
                Dennis Tseng / 台大工商管理學系在學生
              </td>
            </tr>

            <tr>
              <th scope="row" class="text-center">15:10 - 15:30</th>
              <td colspan="3">
                <b> Tea Time </b>
              </td>
            </tr>

            <tr>
              <th scope="row" class="text-center">15:30 - 16:20</th>
              <td>
                <b>成為一個 youtubeR</b>
                <br>
                李智慎 / Dataa(浚鴻) 技術開發部經理
              </td>
              <th rowspan="2"> <br> <br> 15:30 - 17:10</th>
              <td rowspan="2">
                <br>
                <b> Workshop </b>
                <br>
                <b> Converts your results to a web API with R <br> (絕地求生:成為水管工) </b>
                <br>
                蔡育儒 / Goodnight Data scientist
              </td>
            </tr>

            <tr>
              <th scope="row" class="text-center"> 16:20 - 17:10</th>
              <td>
                <b>Voice analysis in R</b>
                <br>
                余佑駿 / 國家高速網路與計算中心 資料科技組 專案工程師
              </td>
            </tr>

            <tr>
              <th scope="row" class="text-center"> <b>17:10 - 18:00<b> </th>
              <td align="center" style="vertical-align:middle;">
                <b>Some Tips and Tricks for R Markdown</b>
                <br>
                廖永賦 (Yongfu Liao) / 台灣大學語言學研究所在學生
              </td>
              <td colspan="2">
                <b> </b>
                <br>
                詹欣諭 / WaveIn Data Scientist
                <br>
                陳潔寧 / Data for social good 專案經理
              </td>
            </tr>


            <tr>
              <th scope="row" align="center"> 18:00 - 18:20</th>
              <td colspan="3">
                <b> Closing Remark </b>
                <br>
                <i> SatRday Taiwan Organizers</i>
              </td>
            </tr>


          </tbody>
        </table>


      </div>
    </div>
  </div>
</section>