{{ "<!-- Keynote Grid Section -->" | safeHTML }}
<section id="workshop"  class="bg-light-gray" >
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Workshop</h2>
        <h3 class="section-subheading text-muted">
          </h3>
      </div>
    </div>
    <div class="Talks">

      <a href="#" class="Talk" data-toggle="modal">
        <div class="Talk-title">
          <h4>吳漢銘 <p class="text-muted">國立台北大學統計學系</p></h4>
          <p>R 於人工智慧的實務應用</p>
        </div>
      </a>
      <a href="#" class="Talk" data-toggle="modal">
        <div class="Talk-title">
          <h4>蔡育儒</h4>
          <p class="text-muted">Goodnight</p>
        </div>
      </a>

    </div>
  </div>
</section>